port=3000

s3AccessId=AKIA4LFH7ESH2RXGYC4E
s3SecretKey=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
s3Region =ap-south-1
s3Bucket=lattice-assignment-sunil

mySqlHost =localhost
mySqlUser=root
mySqlPassword=pass
mySqlDatabase=lattice_assignment